body{
    background-image: url("whitePaperBackground.jpg");
    font-family: 'Stylish', sans-serif;
}
.jumbotron {
    background: gray;
    /* border-style: solid;
    border-width: 2px;
    border-color: rgb(2, 42, 29); */
    
}
h2{
    font-size: 20px;
    color: gray;
}
